.addtoTrip{
        
    min-width: 300px;
    min-height: 300px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0 5px rgba(53, 53, 53, 0.385);

}

.addtoTrip .item{
    display: flex;
    flex-direction: column;
    border-left: blue inset 5px ;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
}
.addtoTrip button{
    background-color: black;
}
.addtoTrip .item .discription{
    display: flex;
    flex-direction: row;
}

@media (max-width:600px) {
    .addtoTrip{
        display: none;
    }
}