.filternav{
    min-width: fit-content;
    min-height: fit-content;
    background-color: aliceblue;
    display: flex;
    align-items: start;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    margin-bottom:10px ;
    gap: 30px;
    box-shadow: 0 4px 10px rgba(202, 41, 41, 0.555);
    border-radius: 20px;
}


.filternav .option{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.leftdiv{
    display: flex;
    flex-direction: row;
    gap: 30px;
}


/* Plan */
.Output{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
    align-items: center;
}
.Output > h2{
    font-size: 24px;
    color: #222;
    justify-content: start;
    text-align: start;
}



@media (max-width:600px) {


    .filternav{
        gap: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

