
.result{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;


}

.category-card{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    gap: 16px  ; 
    backdrop-filter: blur(5px);

}

.category-card h2{
    margin-bottom: 20px;
    color: black;
}
.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.place-item{
    overflow: hidden;
    position: relative;
    background: white;
    width: 250px;
    
    max-height: 290px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap:8px;
    margin-bottom: 15px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.827);
}
.itemDiscription{
    padding: 10px;
    position: relative;
}
.itemDiscription > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.itemDiscription > p > button{
    background-color: rgb(224, 202, 202);
    border-radius: 50px;
    max-width: fit-content;
    max-height: fit-content;
}
.place-item img{
    width: 100%;
    height: 60%;
    border-radius: 15px 15px  0  0 ;
}




.category-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px 0 100px;
}

.view-more-btn {
  border: none;
  background: #2200ff;
  color: white;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.view-more-btn:hover {
  background: #005fd1;
}







@media (max-width:600px) {
    .category-header{
        justify-content: center;
        gap: 90px;
    }

    .items{
    flex-direction: column;
    align-items: center;
    }
    .place-item {
     max-width: 200px;
    }
    .place-item img{
        height: 150px;
    }

}

