.TripList {
    width: 300px;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0 5px rgba(53, 53, 53, 0.385);
    min-width: fit-content;
    min-height: 300px;
    position: sticky;
    top: 60px;
    align-self: flex-start;

}

.TripList .item{
    display: flex;
    flex-direction: column;
    border-left: blue inset 5px ;
    border-top: 1px black inset;
    border-bottom: 1px black inset;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    gap: 5px;
}
.TripList > button{
    background-color: black;
    color: white;
    padding: 12px 15px;
    align-self: center;
    max-width: fit-content;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.TripList .item .discription{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.TripList .item p{
    padding: 5px;
    border-radius: 20px;
}
.TripList .item .discription p:nth-child(1) {
    /* background-color: rgba(0, 128, 0, 0.511); */
    color: green;
    border: green 2px inset;
    
}

.TripList .item .discription p:nth-child(2) {
    /* box-shadow: 0 0 5px rgba(53, 53, 53, 0.385); */
    border: red 2px inset;
    color: red;
    
}
.TripList .item .discription button {
    box-shadow: 0 0 5px rgba(53, 53, 53, 0.385);
    background-color: aliceblue;
    color: black;
    padding:  5px;
}

.discription{
    display: flex;
    justify-content: space-between;
}

@media (max-width:600px) {
    .TripList{
        display: none;
    }
}